/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 
*{
  outline: 1px solid red;
} */


.wrap{
    max-width: 100%;
    margin: 0 auto;
  }
  

  .upline{
    background:white;
    max-width:940px;
    /* width: 100%; */
    margin: 0 auto;
    
    display:flex;
    justify-content: space-between;
  }

  @media(max-width:375px)  {
    .upline{
      max-width: 100%; 
    }	
  }
  
  .item1{
    width: 180px;
  }
   
  .item2 {
    width: 300px;
    font-size: 24px;
    background: white;
    color: #3F5D45;
    margin: 10px;
    text-align: center;
    display: flex;
    justify-content:space-between ;
}

.item2 a{
    color: #3F5D45;
    text-decoration:none ;
    font-size: 24px;
}

/* .item2 a:hover{
    background: #3F5D45;
    color: white;    
}
 */




.center{
 padding-top: 50px;
 padding-bottom: 50px;
  max-width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

@media(max-width:768px)  {
  .center{
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
    
  }	
}

.yourcart{
  width: 62%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}


@media(max-width:768px)  {
  .yourcart{
   width: 100%;
    
  }	
}

.yourcart h2{
  font-size: 24px;
  color: #3F5D45;
  background: #EAF0ED;
  font-family: PingFang TC;
  text-align: center;
  line-height: 48px;
  font-weight: bolder;
}

.sec1{
  width: 400px;
  display: flex;
  justify-content: space-between
  ;
  
}

@media(max-width:768px)  {
  .sec1{
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
    
  }	
}

.cart-list{

  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
}

@media(max-width:768px)  { 
.cart-list{
  display: flex;
  flex-direction: column;
 flex-wrap: wrap;
  }	
}

.cart-list-info{
  width: 250px;
  display: flex;
  justify-content: space-between;
}

@media(max-width:768px)  {
  .cart-list-info{
    width: 180px;
    align-items: flex-start;
      flex-direction: column;
   
    }	
  }

.product-name{
  /* min-width: 107px; */
  display: flex;
  align-items: center;
  color: #3F5D45;
}

.product-count{ 
  /* min-width: 144px; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3F5D45;
}

.product-count li{
  border: 1px solid #EAF0ED;
  width: 48px;
  height: 48px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-list-sum{
 width: 140px;
  display: flex;
  align-items: center;
  font-family:  PingFang TC, Semibold;
  font-size: 20px;
  color: #3F5D45;
  justify-content: space-between;
}

@media(max-width:768px)  {
  .cart-list-sum{
   width: 100%;
   display: flex;
   justify-content: flex-end;
    
  }	
}

@media(max-width:768px)  {
  .cart-list-sum img{
  display:none;   
  }	
}





.ab-outsider{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 15px;
  width: 30%;
  margin: 0 auto;
  flex-wrap: wrap;
}

@media(max-width:768px)  {
  .ab-outsider{
   width: 100%;
    
  }	
}

.order-abstract{ 
  display: flex;
  flex-direction: column;
  background: #3F5D45;
  color: white;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}

.order-abstract h4{
  font-size: 24px;
  line-height: 48px;
  font-family: PingFang TC;
  border-bottom:1px  solid  white;
}

.subtotal{
  font-size: 16px;
  line-height: 32px;
  font-family: PingFang TC;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}

.freight{
  font-size: 16px;
  line-height: 32px;
  font-family: PingFang TC;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;

}

.total{
  font-size: 20px;
  line-height: 40px;
  font-family: PingFang TC;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  
}

.checkout{
  font-size: 24px;
  line-height: 48px;
  font-family: PingFang TC;
  background: #FFE180;
  color: #3F5D45;
  font-weight: bolder;
  text-align: center;
}

.checkout a{
  text-decoration: none;
  color: #3F5D45;
  display: block;
}








.footer{
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

}


.footer-email{
  background: #3F5D45;
  /* max-width: 1024px; */
  width: 100%;
 
  height: 116px;
   display: flex;
  justify-content: space-around;
  align-items: center;
}

@media(max-width:768px)  {
  .footer-email{
    flex-wrap: wrap;
    height: 186px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }	
}



.footer-email-subscribe{
  display: flex;
  /* width: 50%; */
  padding:12px;
}


@media(max-width:768px)  {
  .footer-email-subscribe{
    /* width:100% ; */
    display: flex;
    justify-content: center;
    align-items: center;
  }	
}


.subscribe-logo img{
  max-width: 40px;
  height: 40px;
}

.subscribe-words{
  width: 100%;
  /* width: 216px; */
  height: 40px;
  color: #EAF0ED;
  font-size: 24px;
  line-height: 40px; 
}






.footer-email-blank{
  /* width: 50%; */
  width: 380px;
  height: 56pX;
  display: flex;
  padding:12px;
 position: relative;
  
}


@media(max-width:768px)  {
  .footer-email-blank{
    width:50% ;
    
  }	
}

.test{
  height: 52px;
  font-size: 20px;
  text-indent: 40px;
  border:none;
   width: 100%;
   z-index: 1;
  
}


@media(max-width:768px)  {
  .test{
    text-indent: 30px;
    font-size: 8px  ;
    
  }	
}



.whiteblock{
  position: absolute;
  left: 14px;
  bottom: 30px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 24px;
  height: 24px;  */
  
}

/* .whiteblock img{
padding: 10px;
  display: block;
  
} */



.yellowblock{

  position: absolute;
  right: 13px;
  bottom: 15px;
  display: block;
  width: 52px;
  height: 52px;
  background-color: #ffe180;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;


}

/* .yellowblock img{
  padding-top: 16px;
  display: block;
  margin:auto;
  width: 24px;
  height: 24px;
 
} */

/* .yellowblock img a{
  display: block;
} */




.footer-allright{
 width:100%;
  height: 314px;
  background: #EAF0ED;
  display: flex;
  justify-content: space-around;
}

.footer-allright-info{
  display: flex;
  flex-direction: column; 
}

.info-logo{
  padding-top: 20px;
}

.info-words{
  padding-top: 100px;
  font-family: PingFang TC;
  font-size: 16px;
  line-height: 24px;
  color: #3F5D45;
  width: 100%; 
}

.info-icon img{
  padding-top: 20px;
  width: 32px;
  height: 32px;
}

.footer-allright-slogan{
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
 
}



/* .slogan-pic{
 padding-top: 20px;
} */

.allrights-words{
  padding-top: 10px;
  color: #3F5D45;
  font-size: 16px;
  font-family: Times;
  
}