/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/* * {
   outline:1px solid red;
} */

.wrap{
    max-width: 100%;
    margin: 0 auto;
  }
  
  .upline{
    background:white;
    max-width:940px;
    /* width: 100%; */
    margin: 0 auto;
    
    display:flex;
    justify-content: space-between;
  }

  @media(max-width:375px)  {
    .upline{
      width: 100%; 
    }	
  }
  
  
  .item1{
    width: 180px;
  }
   
  .item2 {
    width: 300px;
    font-size: 24px;
    background: white;
    color: #3F5D45;
    margin: 10px;
    text-align: center;
    display: flex;
    justify-content:space-between ;
}

.item2 a{
    color: #3F5D45;
    text-decoration:none ;
    font-size: 24px;
}

/* .item2 a:hover{
    background: #3F5D45;
    color: white;
    
} */




.all-block{
    padding-top: 50px;
    padding-bottom: 100px;
    max-width: 780px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    flex-wrap: wrap;
}

@media(max-width:768px)  {
  .all-block{
    
  }	
  .left-part{order: 2;}
  .right-part{order: 1}
 
}


.left-part{
    display: flex;
    flex-direction: column; 
    width: 50%;
    
    
}

@media(max-width:768px)  {
  .left-part{
    width: 100%;
    
  }	
}


.login-click{
    background: #FFE180;
    color:#3F5D45;
    height: 65px;
    width: 100%;
   text-align: center;
 line-height: 65px;
   font-size: 24px;
  
}

.login-click a{

  color:#3F5D45;
 text-decoration: none;
 display: block;

}




.left-part{
  display: flex;
  background: #3F5D45;
  flex-direction: column;
  align-items: center;
  width: 50%;
}


@media(max-width:768px)  {
  .left-part {
   width: 100%;
    
  }	
}



.left-part h2{
    font-family: PingFang TC;
    font-size: 36px;
    color: #EAF0ED;
    margin-top: 40px;
    margin-bottom: 40px;
}

@media(max-width:768px)  {
  .left-part h2{
    display: none;
    
  }	
}



.login-content{
    display: flex;
    flex-direction: column;
    width: 330px;
}

.acc-pass{
    width: 100%;
    height: 56px;
    line-height: 56px;
    text-align: center;
    background: #EAF0ED;
    color: #8DA291;
    font-size: 16px;
    font-family: PingFang TC;
    margin-bottom: 15px;
    margin-top: 10px;
  
}

.user-out{
  position: relative;
}

.user img{
  position: absolute;
  z-index: 1;
  top:26px;
  left:16px;
}

.key-out{
  position: relative;
}


.key img{
  position: absolute;
  z-index: 1;
  top:26px;
  left:16px;
}



.remember{
    color:#EAF0ED;
    font-size: 16px;
    font-family: PingFang TC;
    margin-bottom: 15px;
}



.right-part-out{
  display: flex;
  flex-direction: column;
  width: 50%;
  
 
}

@media(max-width:768px)  {
  .right-part-out{
    width: 100%;
  }	
}


.h3{
  display: none;
  background: #3F5D45;
   color:#EAF0ED;
   font-size: 36px;
  text-align: center;
  line-height: 72px;
}

@media(max-width:768px)  {
  .h3{
    display: block;
     
  }	
}


.right-part{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: #EAF0ED;
    color: #8DA291;
    font-size: 24px;
    justify-content: center;
    align-items: center;
}


.right-part h2{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
}

@media(max-width:768px)  {
  .right-part h2{
display: none;
    
  }	
}


.list-ousider{
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     width: 90%;
}

@media(max-width:768px)  {
  .list-ousider{
     flex-direction: row;  
    
  }	
}


.right-list{
    display: flex;
    background: white;
    color: #8DA291;
    
   width: 84%;
height: 56px;
    margin: 10px;
    justify-content: center; 
    align-items: center; 
     
}









.footer{
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

}


.footer-email{
  background: #3F5D45;
  /* max-width: 1024px; */
  width: 100%;
 
  height: 116px;
   display: flex;
  justify-content: space-around;
  align-items: center;
}

@media(max-width:768px)  {
  .footer-email{
    flex-wrap: wrap;
    height: 186px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }	
}



.footer-email-subscribe{
  display: flex;
  /* width: 50%; */
  padding:12px;
}


@media(max-width:768px)  {
  .footer-email-subscribe{
    /* width:100% ; */
    display: flex;
    justify-content: center;
    align-items: center;
  }	
}


.subscribe-logo img{
  max-width: 40px;
  height: 40px;
}

.subscribe-words{
  width: 100%;
  /* width: 216px; */
  height: 40px;
  color: #EAF0ED;
  font-size: 24px;
  line-height: 40px; 
}






.footer-email-blank{
  /* width: 50%; */
  width: 380px;
  height: 56pX;
  display: flex;
  padding:12px;
 position: relative;
  
}


@media(max-width:768px)  {
  .footer-email-blank{
    width:50% ;
    
  }	
}

.test{
  height: 52px;
  font-size: 20px;
  text-indent: 40px;
  border:none;
   width: 100%;
   z-index: 1;
  
}


@media(max-width:768px)  {
  .test{
    text-indent: 30px;
    font-size: 8px  ;
    
  }	
}



.whiteblock{
  position: absolute;
  left: 14px;
  bottom: 30px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 24px;
  height: 24px;  */
  
}

/* .whiteblock img{
padding: 10px;
  display: block;
  
} */



.yellowblock{

  position: absolute;
  right: 13px;
  bottom: 15px;
  display: block;
  width: 52px;
  height: 52px;
  background-color: #ffe180;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;


}

/* .yellowblock img{
  padding-top: 16px;
  display: block;
  margin:auto;
  width: 24px;
  height: 24px;
 
} */

/* .yellowblock img a{
  display: block;
} */




.footer-allright{
 width:100%;
  height: 314px;
  background: #EAF0ED;
  display: flex;
  justify-content: space-around;
}

.footer-allright-info{
  display: flex;
  flex-direction: column; 
}

.info-logo{
  padding-top: 20px;
}

.info-words{
  padding-top: 100px;
  font-family: PingFang TC;
  font-size: 16px;
  line-height: 24px;
  color: #3F5D45;
  width: 100%; 
}

.info-icon img{
  padding-top: 20px;
  width: 32px;
  height: 32px;
}

.footer-allright-slogan{
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
 
}



/* .slogan-pic{
 padding-top: 20px;
} */

.allrights-words{
  padding-top: 10px;
  color: #3F5D45;
  font-size: 16px;
  font-family: Times;
  
}